@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

.header {
  padding: 30px;
  z-index: 3;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  display: flex;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    333deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(41, 41, 41, 1) 61%
  );
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.img {
  justify-content: flex-start;
  height: 100px;
  width: 100px;
  margin-left: -10%;
}

.tituloHeader {
  font-family: 'STIX Two Text', serif;
  color: #fff;
  font-size: 4em;
  font-weight: 800;
  margin-top: 20px;
}

.buttonn {
  font-size: 20px;
  border-radius: 100%;
  color: rgb(255, 255, 255);
  opacity: 0.5;
  margin: 8px 12px 8px 8px;
}

.buttonn:hover {
  opacity: 1;
}


.buttonn:focus,.button:active {
  outline: none !important;
  box-shadow: none;
}

@media only screen and (max-width: 800px) {
  .tituloHeader {
    font-size: 3em;
    font-weight: 600;
  }
  .img {
    height: 85px;
    width: 85px;
  }

  .header {
    height: 6%;
  }
}